.loading {
    background : #FFF url('/images/loading-dark.gif') no-repeat center center;
    display    : block;
    position   : absolute;
    text-align : center;
    width      : 100%;
    height     : 0;
    top        : 0;
    left       : 0;
    opacity    : 0.8;
    z-index    : 9999999;
}

.separator {
    background-color : #DDD;
    height           : 1px;
    margin           : 25px 0;
    text-align       : center;
}

.separator span {
    background : #FFF;
    padding    : 5px;
    color      : #999;
    position   : relative;
    top        : -9px;
}

/*alert error*/
.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

/*404 page - error box*/
.error-box {
    overflow : hidden;
    padding  : 0
}

.error-box h2 {
    text-align    : left;
    line-height   : 30px;
    margin-bottom : 30px
}

.error-box .error-code {
    font-size   : 10em;
    line-height : 1em;
    text-align  : center;
    margin      : 0;
}

.error-box .indent {
    text-align : center
}

.error-box .col-md-6 {
    margin-bottom : 30px
}
