{% extends "../layout.twig" %}

{% block title %}
    Content
{% endblock %}

{% block content %}
    <h1 class="page-header">Content</h1>
    <p>ID: {{ content.id }}</p>
    <p>Path: {{ content.path }}</p>
    <p>Type: {{ content.type }}</p>
{% endblock %}
